*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

:root{
    /* background colors; */
    --bg-primary-color: #0c0c0c;
    --bg-fill-color: #fdfdfc;
    --bg-food-color: #ff6347;
    /* Text colors */
    --text-primary-color: #f0f0f0;

    /* Size variables */
    --size-very-small : 1px;
    --size-xxxs : 2px;
    --size-xxs : 4px;
    --size-xs : 8px;
    --size-sm : 16px;
    --size-md : 24px;
    --size-lg : 32px;
    --size-xl : 48px;
    --size-2xl : 64px;
    --size-3xl : 96px;  

    /* padding/margin/gap variables */
    --space-none :0px;
    --space-xxxs : 1px;
    --space-xxs : 2px;
    --space-xs : 4px;
    --space-sm : 8px;
    --space-md : 16px;
    --space-lg : 24px;
    --space-xl : 32px;
    --space-2xl : 40px;
    --space-3xl : 48px;
    
    /* Border Color */
    --border-primary-color : #333333;

    /* Border Radius */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;

}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main,section{
    width:100%;
    height: 100%;
}
section{
    padding : var(--space-2xl) ;
    height: 100%;
    display:flex;
    flex-direction: column;
    gap : var(--space-md);
    
}


.btn{
    padding: var(--space-sm) var(--space-md);
    border: none;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.1);
}

.Info-Panel{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* //to remove border */
    /* border: 2px solid var(--border-color); */

}

.info-panel-item{
    border:var(--space-xxxs) solid var(--border-primary-color);
    padding: var(--space-sm);
    border-radius: var(--border-radius-sm);
    font-size: var(--size-md);
}

.Board-Container{
    border: var(--space-xxxs) solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--size-xl), 1fr));
    grid-template-rows: repeat(auto-fill, minmax(var(--size-xl), 1fr));
}

.block{
    border: var(--size-very-small) solid var(--border-primary-color);
    border-radius: 35%;
}

.fill{
    background-color: var(--bg-fill-color);
}

.food{
    background-color: var(--bg-food-color);
}


.modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #35353587;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .start-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
    text-align: center;
}

.modal .game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
    text-align: center;
    gap: var(--space-md);
}

.modal .game-over h1{
    font-size: var(--size-2xl);

}

.modal .game-over h2{
    font-size: var(--size-md);
}
